<?xml version="1.0"?>

<launch>
  <arg name="brushee_glocal_goal_creator_settings" default="$(find brushee_glocal_goal_creator)/config/param/brushee_glocal_goal_creator.yaml" />

  <include file="$(find brushee_glocal_path_planner)./launch/brushee_glocal_path_planner.launch" />

  <node name="brushee_glocal_goal_creator" pkg="brushee_glocal_goal_creator" type="brushee_glocal_goal_creator_node" output="screen">
    <rosparam command="load" file="$(arg brushee_glocal_goal_creator_settings)" />
  </node>

</launch>